.pharrowUpRightLightIcon {
  width: 20px;
  height: 20px;
  position: relative;
}
.root {
  position: absolute;
  top: calc(50% - 22.5px);
  left: calc(50% - 23px);
  backdrop-filter: var(--blur-default);
  border-radius: var(--br-481xl);
  background-color: var(--background-muted);
  border: 1px solid var(--border-default);
  box-sizing: border-box;
  width: 46px;
  height: 46px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs);
}
.root[data-size="Small"][data-style="Default"] {
  display: flex;
}
.root[data-size="Small"][data-style="Default"] .pharrowUpRightLightIcon {
  width: 16px;
  height: 16px;
}
