.button {
  height: 21px;
  width: 79px;
  position: relative;
  font-size: var(--text-meta-size);
  letter-spacing: 1.5px;
  line-height: 160%;
  text-transform: uppercase;
  font-family: var(--text-meta);
  color: var(--text-inverse);
  text-align: left;
  display: inline-block;
}
.button1 {
  cursor: pointer;
  border: none;
  padding: var(--padding-3xs) var(--padding-base);
  background-color: var(--background-primary);
  border-radius: var(--br-11xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
