.imageIcon {
  position: absolute;
  top: 290px;
  left: 494px;
  width: 880px;
  height: 769px;
  object-fit: cover;
  display: none;
  mix-blend-mode: lighten;
}
.imageIcon1 {
  position: absolute;
  top: -9px;
  left: 100px;
  width: 1920px;
  height: 1000px;
  object-fit: cover;
  mix-blend-mode: lighten;
}
.photoOverlay {
  position: absolute;
  top: 524.7px;
  left: calc(50% - 960px);
  filter: blur(500px);
  background-color: var(--text-inverse);
  width: 1920px;
  height: 1348px;
}
.kellyOhgee {
  margin: 0;
  position: absolute;
  top: 836.6px;
  left: 700px;
  font-size: inherit;
  line-height: 100%;
  font-weight: 300;
  font-family: inherit;
}
.grid2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) 0px 0px;
  gap: var(--gap-3xs);
}
.grid1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.grid {
  width: 568px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 266%;
  flex-shrink: 0;
}
.socials {
  position: absolute;
  top: 1096px;
  left: calc(50% - 107px);
  width: 214px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.aBrandThat {
  margin: 0;
  font-weight: 300;
}
.aLastingImpression1 {
  font-weight: 300;
}
.aLastingImpression {
  margin: 0;
}
.aBrandThatContainer {
  position: absolute;
  top: 981.6px;
  left: 360px;
  font-size: var(--heading-h2-size);
  line-height: 110%;
  text-align: left;
  display: none;
  width: 568px;
}
.myMissionIs {
  margin: 0;
  position: absolute;
  top: 978.1px;
  left: calc(50% - 530.4px);
  font-size: var(--heading-h4-uppercase-size);
  line-height: 150%;
  font-weight: 500;
  font-family: inherit;
  color: var(--text-muted);
  display: inline-block;
  width: 1050.8px;
  margin-top: 80px;
  margin-left: 30px;
}
.imageWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sectionAbout {
  align-self: stretch;
  height: 1228px;
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: var(--font-size-81xl);
  color: var(--text-default);
  font-family: var(--heading-h5);
}

@media screen and (max-width: 450px) {
  .imageIcon {
    width: 440px;
    height: 384.5px;
  }

  .myMissionIs {
    font-size: var(--font-size-sm);
    line-height: 120%;
    width: 90%;
    left: 5%;
  }
}

@media screen and (max-width: 768px) {
  .imageIcon {
    width: 660px;
    height: 576.75px;
  }

  .myMissionIs {
    font-size: var(--font-size-md);
    width: 95%;
    left: 2.5%;
  }
}